# Module 7 Exercises - Linear Regression

### Exercise 1:

Using the pandas library, in the datasets folder load the gradedata.csv file as a dataframe. Narrow your data (make the dataframe smaller) by choosing columns that you think can help predict student grades. Use any method that you've learned so far to help your decision on which columns to keep.

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn #library for predictive modeling

%matplotlib inline

#load gradedata.csv file

location = "datasets/gradedata.csv"
df = pd.read_csv(location)

df.drop('address', axis=1)

df.head()

,fname,lname,gender,age,exercise,hours,grade,address
0,Marcia,Pugh,female,17,3,10,82.4,"9253 Richardson Road, Matawan, NJ 07747"
1,Kadeem,Morrison,male,18,4,4,78.2,"33 Spring Dr., Taunton, MA 02780"
2,Nash,Powell,male,18,5,9,79.3,"41 Hill Avenue, Mentor, OH 44060"
3,Noelani,Wagner,female,14,2,7,83.2,"8839 Marshall St., Miami, FL 33125"
4,Noelani,Cherry,female,18,4,15,87.4,"8304 Charles Rd., Lewis Center, OH 43035"

In [5]:
df.drop('address', axis=1)
df.head()

,fname,lname,gender,age,exercise,hours,grade,address
0,Marcia,Pugh,female,17,3,10,82.4,"9253 Richardson Road, Matawan, NJ 07747"
1,Kadeem,Morrison,male,18,4,4,78.2,"33 Spring Dr., Taunton, MA 02780"
2,Nash,Powell,male,18,5,9,79.3,"41 Hill Avenue, Mentor, OH 44060"
3,Noelani,Wagner,female,14,2,7,83.2,"8839 Marshall St., Miami, FL 33125"
4,Noelani,Cherry,female,18,4,15,87.4,"8304 Charles Rd., Lewis Center, OH 43035"

### Exercise 2:

Using the dataframe in the exercise above, clean and prepare your data. This means to eliminate any null (missing) values (either by dropping or filling them) and to transform any data column types to numerical values that a model can interpret. For example, if the column has string values, convert them to integers that best represent their order.

In [9]:
#drop completely empty columns (all NaN/null values)
df.dropna(axis=1, how='all')

df.drop('address', axis=1)
df.head()

,fname,lname,gender,age,exercise,hours,grade,address
0,Marcia,Pugh,female,17,3,10,82.4,"9253 Richardson Road, Matawan, NJ 07747"
1,Kadeem,Morrison,male,18,4,4,78.2,"33 Spring Dr., Taunton, MA 02780"
2,Nash,Powell,male,18,5,9,79.3,"41 Hill Avenue, Mentor, OH 44060"
3,Noelani,Wagner,female,14,2,7,83.2,"8839 Marshall St., Miami, FL 33125"
4,Noelani,Cherry,female,18,4,15,87.4,"8304 Charles Rd., Lewis Center, OH 43035"

In [16]:
df.drop('address', axis=1)

          fname      lname  gender  age  exercise  hours  grade
0        Marcia       Pugh  female   17         3     10   82.4
1        Kadeem   Morrison    male   18         4      4   78.2
2          Nash     Powell    male   18         5      9   79.3
3       Noelani     Wagner  female   14         2      7   83.2
4       Noelani     Cherry  female   18         4     15   87.4
5          Neil    Whitley    male   16         5     16   88.7
6         Nelle     Golden  female   17         1      9   80.2
7       Armando    Hoffman    male   17         5     18   95.1
8       Illiana      Rojas  female   15         5      9   76.5
9          Neil     Wooten    male   15         3     15   89.7
10       Daquan    Alvarez    male   16         2     13   85.2
11         Nola  Velazquez  female   15         2     10   75.3
12        Quinn     Warren  female   14         4     12   80.7
13      Frances  Velasquez  female   15         2     15   84.2
14      Lareina      Poole  female   18         1     14   87.6
15        Medge   Mccarthy  female   15         1      8   75.8
16         Kibo      Gates    male   16         1     10   88.2
17        Libby     Guzman  female   19         1     19  100.0
18       Shelly    Rosario  female   18         4     13   84.3
19         Lane       Tate    male   19         4     11   84.2
20      Isadora       Case  female   18         3     11   79.1
21        Maggy  Whitfield  female   15         1     15   90.5
22        Elton     Wagner    male   16         2      9   71.0
23        Lance   Benjamin    male   14         5     18   90.3
24         Kyle    Skinner    male   17         5      6   82.4
25        Colin      Cohen    male   14         1     10   83.8
26      Solomon  Mcpherson    male   15         5     18   94.5
27         Ulla     Warren  female   18         1     16   83.5
28        Tyler    Collier    male   16         1      9   69.7
29         Emma     Mccall  female   16         2     13   91.1
...         ...        ...     ...  ...       ...    ...    ...
1970    Armando    Mcclure    male   19         2     14   93.2
1971      Haley    Mcgowan  female   17         3     16   90.4
1972      Fritz      Rojas    male   17         5     13   79.5
1973  Allistair      Boyer    male   14         3     10   74.2
1974       Ella  Patterson  female   16         1      8   68.0
1975      Felix    Freeman    male   15         4     11   75.2
1976       Dean      Oneil    male   16         2      8   74.5
1977    Quinlan    Hawkins    male   14         3     18   85.6
1978      Kiara       Lott  female   17         2     12   82.7
1979        Kai    Woodard  female   17         5     17  100.0
1980     Maxine    Raymond  female   17         4     19   91.9
1981       Leah   Lawrence  female   15         5     15  100.0
1982      Kalia      Lewis  female   18         1      6   61.4
1983    Anthony     Palmer    male   14         1     14   93.1
1984     Joshua   Randolph    male   15         1      4   72.7
1985      Akeem       Luna    male   15         4      6   74.4
1986     Indigo      Mccoy  female   19         2     14   91.3
1987      Price       Wall    male   15         5     11   78.6
1988      Quinn  Patterson    male   15         1     14   78.0
1989       John       Ford    male   14         2     14   91.2
1990      Adena     Battle  female   17         2      8   70.2
1991      Craig     Obrien    male   16         3      7   64.9
1992   Isabelle     Barber  female   14         5      9   78.5
1993       Risa     Watson  female   14         2     10   74.3
1994    Emerson       Gill    male   17         5      5   67.5
1995       Cody   Shepherd    male   19         1      8   80.1
1996  Geraldine   Peterson  female   16         4     18  100.0
1997   Mercedes       Leon  female   18         3     14   84.9
1998     Lucius    Rowland    male   16         1      7   69.1
1999      Linus     Morris    male   19         4     10   79.6

[2000 rows x 7 columns]

### Exercise 3:

Using the cleaned dataframe in the exercise above, use the sklearn library to split the data into training and test datasets. Make the test size 30%.

In [18]:
#data = dataset, target = dependent variable, feature_names = column headers, DESCR = data dictionary
df.keys()

Index(['fname', 'lname', 'gender', 'age', 'exercise', 'hours', 'grade',
       'address'],
      dtype='object')

In [21]:
df.shape

(2000, 8)

In [25]:
#list of column names from sample Boston dataset
print(df.columns)

Index(['fname', 'lname', 'gender', 'age', 'exercise', 'hours', 'grade',
       'address'],
      dtype='object')

### Exercise 4:

Using the training data from the previous exercise, set a linear regression function to fit the data (build the model).

In [26]:
from sklearn.linear_model import LinearRegression

#make dataframe that only contains predictive features
X = df.drop('address', axis = 1)

#assign linear regression function to a variable
lm = LinearRegression()
lm

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

### Exercise 5:

What is the intercept coefficient (y-intercept) for the linear regression model?

### Exercise 6:

Use the predict function on the training data and the test data.

### Exercise 7:

Calculate the MSE (mean squared error) of the training and test predictions. How "good" was the linear regression model at predicting the test data compared to the training data?